@font-face {
    font-family: 'Quicksand';
    src: url('../font/Quicksand-Bold.woff2') format('woff2'),
        url('../font/Quicksand-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../font/Quicksand-Light.woff2') format('woff2'),
        url('../font/Quicksand-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../font/Quicksand-Medium.woff2') format('woff2'),
        url('../font/Quicksand-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('Quicksand-Regular.woff2') format('woff2'),
        url('Quicksand-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quicksand';
    src: url('../font/Quicksand-SemiBold.woff2') format('woff2'),
        url('../font/Quicksand-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Bold.woff2') format('woff2'),
        url('../fonts/Poppins-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/Poppins-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}




*,
*::before,
*::after {
    box-sizing: border-box;

}

body {
    font-family: 'Poppins';
    background-color: white;
}

main {
    flex-grow: 1;
}

img {
    width: 100%;
    height: auto;
    vertical-align: middle;
    object-fit: cover;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.container {
    width: 1260px;
    margin: 0 auto;
    padding: 0 20px;
}



/* header  */


.header {
    padding: 17px 0;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 40px 40px;
}

.header-inner {
    display: flex;
    align-items: center;
}

.logo-link {
    margin-right: 40px;
    text-decoration: none;
    background-color: #fff;
}

.header-form {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.logo-img {
    width: 121px;
    height: 49px;
}

.header-input {
    padding: 12px;
    padding-right: 0;
    width: 450px;
    background-color: #F3F3F3;
    border: 0;
    border-radius: 8px 0px 0px 8px;
}

.button {
    width: 55px;
    height: 42px;
    border: 0;
    background-color: #0064D2;
    border-radius: 0px 8px 8px 0px;
}

.button-img {
    width: 24px;
    height: 24px;
}

.header-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header-item {
    display: flex;
    align-content: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-right: 25px;
}

.header-Wishlist {
    position: relative;
}

.header-Wishlist::before {
    position: absolute;
    z-index: 3;
    top: -3px;
    left: 21px;
    width: 7px;
    height: 14px;
    background-image: url("../images/four.svg");
    background-repeat: no-repeat;
    content: " ";
}

.header-Wishlist::after {
    position: absolute;
    top: -4px;
    left: 15px;
    width: 17px;
    height: 17px;
    background-image: url("../images/four-bg.svg");
    background-repeat: no-repeat;
    content: " ";
}

.shopping-img {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.wishlist-text {
    display: block;
    margin: 0;
    height: 0;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: #2F294D;
}

.wishlist-text:nth-child(2) {
    margin-bottom: 3px;
}


.wishlist-span {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #0064D2;
}

.girel-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: auto;
    width: 67px;
}

.girel-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 13px;
}

.strelka-img {
    width: 24px;
    height: 24px;
}

.header-left-botton {
    display: flex;
    align-items: center;
    background-color: #0064D2;
    border-radius: 8px;
    padding-right: 13px;
    padding: 11px 0;
    border: 0;
}

.header-left-botton:hover {
    background-color: #0064D2;
    opacity: 0.8;
    border-radius: 8px;
}

.header-left-botton:active {
    background-color: #0064D2;
    opacity: 0.5;
    border-radius: 8px;
}


.botton-left-img {
    margin-left: 15px;
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

.booton-left-text {
    margin-right: 13px;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF
}


/* breand crumb  */

.breand-crumb {
    padding: 20px 0;
    border-bottom: 1px solid rgba(173, 173, 173, 0.17);
}

.breand-inner {
    display: flex;
    align-items: center;
}

.breand-strelka {
    margin-right: 19px;
    text-decoration: none;
}

.breand-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.breand-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #2F294D;
    margin-right: 32px;
}

.breand-link {
    display: inline-block;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #0064D2;

}



/* hero  */

.hero {
    padding: 41px 0 59px;
}

.inner {
    display: flex;
}

.hero-left-box {
    width: 536px;
    margin-right: 37px;
}

.hero-iphone {
    width: 536px;
    height: 463px;
    margin-bottom: 17px;
    background-color: rgba(0, 0, 255, 0.1);
    border-radius: 24px;
    mix-blend-mode: multiply;

}

.hero-iphone-condition {
    display: flex;
    align-items: center;
    width: 100%;
    height: 130px;
}



.hero-list {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.hero-item {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-right: 16px;
}

.backphone-img {
    background-color: #E6F0FB;
    border-radius: 24px;
    width: 136px;
    height: 117px;
}

.camera-img {
    background-color: #E6F0FB;
    border-radius: 24px;
    width: 114px;
    height: 26px;
    mix-blend-mode: multiply;

}

.backcamera-img {
    background-color: #E6F0FB;
    border-radius: 24px;
    width: 96px;
    height: 101px;
}

.hero-right-box {
    display: flex;
    flex-direction: column;
    padding-top: 5px;
}

.hiading-box {
    display: flex;
    align-items: center;
}

.heiading {
    margin: 0;
    margin-right: 8px;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #2F294D;
}

.hero-link {
    text-decoration: none;
    padding: 5px 33px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #0064D2;
    background-color: rgba(0, 100, 210, 0.1);
    border-radius: 11px;
}

.hero-text {
    margin: 0;
    padding: 0;
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2F294D;
    opacity: 0.5;
}

.hero-left-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 11px;
    margin-right: 9px;

}

.hero-left-item {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 1px;
}

.ster-img {
    width: 32px;
    height: 32px;

}

.bold-namber {
    margin-right: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #2F294D;
}

.left-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2F294D;
    opacity: 0.5;
}

.left-price {
    position: relative;
    padding-left: 18px;
    margin-bottom: 1px;
    margin-left: 18px;
    font-weight: 500;
    font-size: 44px;
    line-height: 66px;
    color: #2F294D
}

.left-price::before {
    position: absolute;
    top: 8px;
    left: -3px;
    width: 16px;
    height: 32px;
    background-image: url("../images/$.svg");
    background-repeat: no-repeat;
    content: " ";
}

.comfort-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 1px;
}

.comfort-item {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 14px;
    padding-left: 33px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2F294D;
}

.comfort-item::before {
    position: absolute;
    width: 23px;
    height: 23px;
    top: 1px;
    left: 1px;
    background-image: url("../images/true_icon.svg");
    content: "  ";
}


.left-img-list {
    display: flex;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.left-img-item {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 5px;

}

.left-item-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.bold-item {
    margin: 0;
    padding: 0;
    margin-left: 9px;
}

.left-item-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #0064D2;
    margin-left: 7px;
}


.hero-aktiv-link {
    text-decoration: none;
    display: inline-block;
    padding: 10px 72px;
    margin-right: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    background-color: #0064D2;
    border-radius: 10px;
}

.hero-aktiv-link:hover {
    opacity: 0.8;
    border-radius: 8px;
}

.hero-aktiv-link:active {
    opacity: 0.5;
    border-radius: 8px;
}

.hero-aktiv-link:nth-child(2) {
    font-size: 16px;
    line-height: 24px;
    color: #0064D2;
    background-color: rgba(0, 100, 210, 0.1);
    margin: 0;
}



/* about  */

.about {
    padding: 20px 0;
    background-color: rgba(0, 100, 210, 0.05);
    margin-bottom: 40px;
}

.about-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.about-item {
    margin: 0;
    padding: 0;
    margin-right: 43px;
    list-style-type: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: rgba(30, 31, 75, 0.5);

}

.about-item:nth-child(1) {
    text-align: center;

}

.about-text {
    margin: 0;
    margin-bottom: -30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #1E1F4B;
}

.about-line-box {
    margin-top: 9px;
    margin-right: 9px;

}


.about-line {
    width: 24px;
    display: inline-block;
    height: 2px;
    background-color: #3972FE;
    border-radius: 30px;

}

.doira {
    display: inline-block;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background-color: #0064D2;
}

.about-heading {
    display: flex;
    align-items: center;

}

.about-between {
    padding-top: 40px;
    padding-bottom: 30px;

}

.between-list {
    padding-bottom: 30px;
    padding-left: 0;
    margin: 0;
    list-style-type: none;
}

.between-item:last-child {
    margin: 0;
}

.iphone-corpus {
    margin: 0;
    margin-left: 72px;
}

.between-item {
    width: 1200px;
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    justify-content: space-between;

}

.between-item:nth-child(2) {
    flex-direction: row-reverse;

}

.about-phone-img-box {
    width: 250px;
    margin-right: 72px;
    background: rgb(0, 100, 210, 0.1);
    border-radius: 24px;
}

.about-phone-images {
    width: 213px;
    height: 48px;
}

.about-phone-img {
    width: 148px;
    height: 200px;

}


.between-list-content {
    padding-left: 0;
    margin: 0;
    list-style-type: disc;
    width: 914px;
    height: 231px;
    margin-left: auto;

}


.between-list-content-item {
    width: 914px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #2F294D;
}


.between-line {
    display: inline-block;
    width: 1237px;
    margin-bottom: 44px;
    height: 5px;

}

.services {
    padding-top: 35px;
    padding-bottom: 70px;
}

.services-title {
    margin: 0;
    margin-bottom: 31px;
    padding: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #1E1F4B;
}


.services-list {
    padding-left: 0;
    margin: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
}


.services-item {
    width: 250px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
    border-radius: 27px;
    padding-top: 21px;
    padding-right: 20px;
    padding-bottom: 16px;
    padding-left: 20px;
}

.services-img-wrapper {
    padding: 27px 30px 45px 43px;
    background-color: rgba(0, 100, 210, 0.1);
    border-radius: 27px;

}

.services-img {
    width: 127px;
    height: 126px;

}


.services-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2F294D;
    margin: 0;
    margin-bottom: 5px;
}


.services-span {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2F294D;
    opacity: 0.7;
}


.services-content {
    display: flex;
    align-items: center;
}


.services-spann {
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 2px;
    letter-spacing: 0.02em;

    color: #2F294D;
}


.services-content-img {
    width: 32px;
    height: 32px;
    margin-left: auto;
    margin-right: 4px;
}


.services-content-strong {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #2F294D;

}




/* footer  */

.footer {

    background-color: rgba(0, 100, 210, 0.05);
    padding: 30px 0;
}

.footer-top {
    padding: 40px 0;
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-right: 0;
    border-left: 0;
    display: flex;
    align-items: top;
}

.footer-logo {
    width: 120px;
    height: 49px;
    margin-right: 240px;
}

.footer-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    align-items: top;

}

.footer-item {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-right: 240px;
}

.top-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 135px;
}

.top-link {
    text-decoration: none;
    color: #253D4E;
}

.top-item {
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 15px;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #253D4E;
}

.top-strong {
    margin-bottom: 15px;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    color: #253D4E;

}

.footer-bottom {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bootom-text {
    margin: 0;
    padding: 0;
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #253D4E;
}

.bootom-link {
    list-style-type: none;
}

.bottom-img {
    width: 224px;
    height: 32px;
}